{{!-- <section >
    <h1>{{restaurant.name}}</h1>
    {{#each this.restaurant}}
    <h1>{{restaurant.name}}</h1>
        <article>
            {{#each this.Menus}}
                <h2>{{this.title}}</h2>
                <div>
                    {{#each this.MenuItems}}
                        <div>{{this.name}}</div>
                        <div>{{this.price}}</div>
                    {{/each}}
                </div>
            {{/each}}
        </article>
    {{/each}}
</section> --}}

<div>
	<h1 id="{{restaurant.id}}" class="restaurant">{{restaurant.name}}</h1>
	<img class="item-img" src="{{restaurant.image}}" />
	<div>
	<div id='menus'></div>
	<script src="/scripts.js"></script>
</div>
	
    