{{!-- <section >
    <h1>{{restaurant.name}}</h1>
    {{#each this.restaurant}}
    <h1>{{restaurant.name}}</h1>
        <article>
            {{#each this.Menus}}
                <h2>{{this.title}}</h2>
                <div>
                    {{#each this.MenuItems}}
                        <div>{{this.name}}</div>
                        <div>{{this.price}}</div>
                    {{/each}}
                </div>
            {{/each}}
        </article>
    {{/each}}
</section> --}}
<section class="menu-items">
    <div class="container ">
        <div class="row-12">
            <div class="col">
                <img class="item-img" src="{{restaurant.image}}" />
            </div>
        </div>
        <div class="row-12">
            <div class="col">
                <h3 id="{{restaurant.id}}" class="restaurant">{{restaurant.name}}</h3>
            </div>
        </div>
        <div class="row-12">
            <div class="col">
                <div id='menus' class="menus"></div>
            </div>
        </div>
        <script src="/scripts.js"></script>
    </div>
</section>

	
    